{% extends 'comunes/base.html' %}
{% block contenido %}
<link rel="stylesheet" href="{{url_for('static',filename='css/estiloDescripcion.css')}}">
    <H1>
        CAMISA "GAMER" UNISEX C,M,G
    </H1>
    <img src="{{url_for('static',filename='img/GAMERCAMISA.jpg')}}" width="300" height="300"> <!--Aqui va la imagen de una camisa android-->
    <h2>Esta camisa representa uno de los mejores estilos del mundo en diversos tamaños
    </h2>
    <br><br>
    <form action="/CAMISAGAMER" method="post">
        <a class="linkButton"> Añadir al Carrito</a> <!--aqui se creara un proceso que permita agregar el producto al carrito-->
    </form>

{% endblock %}