<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0 minimun-scale=1">
</head>
<body>
    <header>
        <div class="contenedor">
            <h1 class="i">Shopitesz</h1>
            <input type="checkbox" id="menu-bar">
            <label for="menu-bar"></label>
        </div>
    </header>
</body>
</html>