{% extends 'Comunes/base.html' %}
{{super()}}
{% block contenido %}



#NoTA ESTE CODIGO ES PARA VER COMO FUNCIONA PARA AGREGAR TARJETAS A LA BASE DE DATOS 
<script src="https://kit.fontawesome.com/2530d1feb2.js" crossorigin="anonymous"></script>
<h1>Añadir Tarjeta de credito/Debito</h1>

<form action="/tarjetas/agregar/{{current_user.idUsuario}}" onsubmit="return validarTarjetas(this)" class="TarjetasCuadro" method="post" enctype="multipart/form-data">
        <div class="contenedor2">
        <div>
            <label for="ID" >ID:</label>
            <input type="number" name="ID" maxlength="16" required readonly value="{{current_user.idUsuario}}" class="form-control">
        </div>
             {% if current_user.is_authenticated and current_user.is_admin()%}
            <div>
            <label for="IDT" >ID:</label>
            <input type="number" name="IDT" maxlength="10"  class="form-control">
              </div>
            {% endif %}
            <div >
             <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-visa"></i>
            <label for="noTarjeta" >Numero de la tarjeta</label>
            <input type="text" name="noTarjeta" maxlength="16" required class="form-control">
        </div>

        <div >
            <i class="fas fa-dollar-sign"></i>
            <label for="Saldo">Saldo de la tarjeta</label>
            <input type="text" name="Saldo" required class="form-control">
        </div>

        <div >
            <i class="fas fa-university"></i>
            <label for="Banco">Banco al que pertenece</label>
            <input type="text" name="Banco" required class="form-control">
        </div>

        <div >
            <label for="Estatus" >Estatus en la que se encuentra A/B</label>
            <input type="text" name="Estatus" maxlength="1"  frequired class="form-control">
        </div>
            <input type="submit" value="Registrar Tarjeta"  class="btn btn-danger">
            <a href='/Usuarios/verTarjetas/{{current_user.idUsuario}}' class="btn btn-danger">Cancelar</a>
  </div>

</form>
</div>

<div id="notificaciones">

</div>






{% endblock %}
{% block scripts %}
{{super()}}
    <script src="{{url_for('static',filename='js/Tarjetas.js')}}"></script>
{% endblock %}