{% extends 'comunes/base.html' %}
{% block contenido %}


<link href="https://fonts.googleapis.com/css?family=Lato|Liu+Jian+Mao+Cao&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{url_for('static',filename='css/estilostarjetas.css')}}">
	<div class="contenedor">

		<!-- Tarjeta -->
		<section class="tarjeta" id="tarjeta">
			<div class="delantera">
				<div class="logo-marca" id="logo-marca">
					 <img src="{{url_for('static',filename='img/logos/HSBC-Platinum.jpg')}}" alt="">
				</div>
				<img src="{{url_for('static',filename='img/chip-tarjeta.png')}}" class="chip" alt="">
				<div class="datos">
					<div class="grupo" id="numero">
						<p class="label">Número Tarjeta</p>
						<p class="numero">#### #### #### ####</p>
					</div>
					<div class="flexbox">
						<div class="grupo" id="nombre">
							<p class="label">Nombre Tarjeta</p>
							<p class="nombre">########</p>
						</div>

						<div class="grupo" id="expiracion">
							<p class="label">Expiracion</p>
							<p class="expiracion"><span class="mes">MM</span> / <span class="year">AA</span></p>
						</div>
					</div>
				</div>
			</div>

			<div class="trasera">
				<div class="barra-magnetica"></div>
				<div class="datos">
					<div class="grupo" id="firma">
						<p class="label">Firma</p>
						<div class="firma"><p></p></div>
					</div>
					<div class="grupo" id="ccv">
						<p class="label">CCV</p>
						<p class="ccv" > </p>
					</div>
				</div>
				<p class="leyenda">PRESERVANDO LA MONEDA NACIONAL Y CONTRIBUYENDO A MEJORAR EL BIENESTAR ECONOMICO DE LA REPUBLICA MEXICANA.</p>
				<a href="#" class="link-banco">www.Paypal.com</a>
			</div>
		</section>

		<!-- Contenedor Boton Abrir Formulario -->
		<div class="contenedor-btn">
			<button class="btn-abrir-formulario" id="btn-abrir-formulario">
				<i class="fas fa-plus"></i>
			</button>
		</div>

		<!-- Formulario -->
		<form action="" id="formulario-tarjeta" class="formulario-tarjeta">

			<div class="grupo ccv">
					<label for="inputCCV">Elige una opción de Tarjeta</label>
				</div>
				<select name="OS">
            <optgroup label="Tarjeta de crédito">
            <option name="Tipo" value="Básica American Express" >Básica American Express</option>
            <option name="Tipo" value="Santander Ligth">Santander Ligth</option>
            <option name="Tipo" value="HSBC Air">HSBC Air </option>
		    <option name="Tipo" value="HSBC Platinum">HSBC Platinum </option>
		    <option name="Tipo" value="Stori">Stori </option>
   </optgroup>
   <optgroup label="tarjeta de debito">
       <option name="Tipo" value="Paypal">Paypal</option>
       <option name="Tipo" value="DISCOVER">DISCOVER</option>
       <option name="Tipo" value="MASTERCARD">MASTERCARD</option>
	   <option name="Tipo" value="VISA">VISA</option>
   </optgroup>
        </select>

			<div class="grupo">
				<label for="inputNumero">Número Tarjeta</label>
				<input type="text" id="inputNumero"  name="Tarjeta" maxlength="19" autocomplete="off">
			</div>
			<div class="grupo">
				<label for="inputNombre">Nombre</label>
				<input type="text" id="inputNombre" maxlength="19" value="{{current_user.nombreCompleto}}" autocomplete="off">
			</div>
			<div class="flexbox">
				<div class="grupo expira">
					<label for="selectMes">Expiracion</label>
					<div class="flexbox">
						<div class="grupo-select">
							<select name="mes" id="selectMes">
								<option disabled selected name="mes">Mes</option>
							</select>
							<i class="fas fa-angle-down"></i>
						</div>
						<div class="grupo-select">
							<select name="year" id="selectYear">
								<option disabled selected name="año">Año</option>
							</select>
							<i class="fas fa-angle-down"></i>
						</div>
					</div>
				</div>

				<div class="grupo ccv">
					<label for="inputCCV">CCV</label>
					<input type="text" id="inputCCV" maxlength="3" name="CCV">
				</div>

			</div>




			<div class="grupo SALDO">
				<label for="inputNumero">SALDO</label>
				<input class="controls form-control" type="text" name="Saldo"  required>
			</div>

			<a href="#" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                Guardar
            </a>
           <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#borrar">
                <span class="glyphicon glyphicon-trash"></span>
                Eliminar
            </a>
            <a href="#" class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Editar
            </a>

		</form>

	</div>
<form action="/Tarjetas/Agrega" method="post">
	<input class="controls" type="text" name="NombreTarjeta" placeholder="NombreTarjeta" required>
	<input class="controls" type="text" name="noTarjeta" placeholder="noTarjeta" required>
	<input class="controls" type="text" name="Nombre" placeholder="Nombre" required>
	<input class="controls" type="text" name="Mes" placeholder="Mes" required>
	<input class="controls" type="text" name="Año" placeholder="Año" required>
	<input class="controls" type="text" name="ccv" placeholder="ccv" required>
	<input class="controls" type="text" name="saldos" placeholder="saldo" required>
	<input class="botons" type="submit" value="Guardar">
</form>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	<script src="{{url_for('static',filename='js/jstarjeta.js')}}"></script>

{% endblock %}
