<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DETALLESPEDIDO</title>
</head>
<body>
    <H1>
        Detalles del pedido
    </H1>
    <form>
        <img src=".\..\static\img\playeraISC.jpg" width="10%" height="10%"><br>
        <!--<label for="idDetalle">idDetalle: 0001</label><br>-->
        <label for="idPedido">Pedido: 0001</label><br>
        <label for="idProducto">Producto: playera0001</label><br>
        <label for="precio">precio: 599.00</label><br>
        <label for="cantidadPedida">Cantidad pedida: 1</label><br>
        <label for="cantidadEnviada">Cantidad enviada: 1</label><br>
        <label for="cantidadAceptada">Cantidad Aceptada: 1</label><br>
        <label for="cantidadRechazada">Cantidad rechazada: 0</label><br>
        <label for="subtotal">subtotal: 599.00</label><br>
        <label for="status">Estatus: Finalizada</label><br>
        <label for="comentario">Comentario: El producto llegó antes de lo esperado!</label><br>
    </form>
</body>
</html>