<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PEDIDOS</title>
</head>
<body>
    <H1>
        Pedido
    </H1>
    <form>
        <img src=".\..\static\img\playeraISC.jpg" width="10%" height="10%"><br>
        <!--<label for="idPedido">idPedido: 0001</label><br>-->
        <label for="idComprador">Comprador: Juan</label><br>
        <label for="idVendedor">Vendedor: PlayerasGarcia</label><br>
        <label for="idTarjeta">Tarjeta: 0000 0000 0000 0000</label><br>
        <label for="fechaRegistro">Fecha de registro: 01/07/2021</label><br>
        <label for="fechaAtencion">Fecha de atencion: 02/07/2021</label><br>
        <label for="fechaRecepcion">Fecha de recepcion: 08/07/2021</label><br>
        <label for="fechaCierre">Fecha de Cierre: 09/07/2021</label><br>
        <label for="total">Total: 599.00</label><br>
        <label for="status">Estatus: Finalizado</label><br>
        </div>
        <input type="submit" value="Detalles">
    </form>
</body>
</html>