{% extends 'comunes/base.html' %}
{% block contenido %}
<link rel="stylesheet" href="{{url_for('static',filename='css/estilos2.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

	<script src="{{url_for('static',filename='js/jquery-3.2.1.js')}}"></script>
	<script src="{{url_for('static',filename='js/script.js')}}"></script>
    <div class="wrap">
		<h1>Escoge un producto</h1>
		<div class="store-wrapper">
			<div class="category_list">
				<a href="#" class="category_item" category="all">Todo</a>
				<a href="#" class="category_item" category="ordenadores">Ordenadores</a>
				<a href="#" class="category_item" category="laptops">Laptops</a>
				<a href="#" class="category_item" category="smartphones">Smartphones</a>
				<a href="#" class="category_item" category="monitores">Monitores</a>
				<a href="#" class="category_item" category="audifonos">Audifonos</a>
			</div>
			<section class="products-list">
				<div class="product-item" category="laptops">
					<img src="{{url_for('static',filename='img/Productos/laptop_hp.jpg')}}" alt="" >
					<a href="#">Laptop Hp</a>
				</div>
				<div class="product-item" category="laptops">
					<img src="{{url_for('static',filename='img/Productos/laptop_toshiba.jpg')}}" alt="" >
					<a href="#">Laptop Toshiba</a>
				</div>
				<div class="product-item" category="smartphones">
					<img src="{{url_for('static',filename='img/Productos/samsung_galaxy.jpg')}}" alt="" >
					<a href="#">Samsung Galaxy</a>
				</div>
				<div class="product-item" category="smartphones">
					<img src="{{url_for('static',filename='img/Productos/iphone.jpg')}}" alt="" >
					<a href="#">Iphone 7</a>
				</div>
				<div class="product-item" category="ordenadores">
					<img src="{{url_for('static',filename='img/Productos/pc_hp.jpg')}}" alt="" >
					<a href="#">PC Hp</a>
				</div>
				<div class="product-item" category="ordenadores">
					<img src="{{url_for('static',filename='img/Productos/pc_lenovo.jpg')}}" alt="" >
					<a href="#">PC Lenovo</a>
				</div>
				<div class="product-item" category="monitores">
					<img src="{{url_for('static',filename='img/Productos/monitor_asus.jpg')}}" alt="" >
					<a href="#">Monitor Asus</a>
				</div>
				<div class="product-item" category="audifonos">
					<img src="{{url_for('static',filename='img/Productos/jbl.jpg')}}" alt="" >
					<a href="#">Audifonos JBL</a>
				</div>
			</section>
		</div>
	</div>
{% endblock %}
