{% extends 'comunes/base.html' %}
{% block contenido %}
<link rel="stylesheet" href="{{url_for('static',filename='css/estilos2.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

	<script src="{{url_for('static',filename='js/jquery-3.2.1.js')}}"></script>
	<script src="{{url_for('static',filename='js/script.js')}}"></script>
    <div class="wrap">
		<h1>Escoge un producto</h1>
		<div class="store-wrapper">
			<div class="category_list">
				<a href="#" class="category_item" category="all">Todo</a>
                {% for cat in categorias %}
                <a href="#" class="category_item" category="{{cat.nombre}}">{{cat.nombre}}</a>
                {% endfor %}
			</div>
			<section class="products-list">
				{% for prod in productos %}
                    <div class="product-item" category="{{prod.categoria.nombre}}">
                        <img src="/productos/consultarImagen/{{prod.idProducto}}" width="100px" height="80px">
					    <a href="#">{{prod.nombre}}</a>
				    </div>
                {% endfor %}
			</section>
		</div>
	</div>
{% endblock %}
