<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHOPITESZ</title>
</head>
<body>
    <h1>LISTADO DE PRODUCTOS</h1>
    <table border="1">
        <thead>
            <th>NOMBRE</th>
            <th>DESCRIPCION</th>
            <th>PRECIO</th>
            <th>STOCK</th>
        </thead>
        <tr>
            <td>Laptop DELL</td>
            <td>Procesador:i5, 256GB, SHD, 16 GB en RAM</td>
            <td>$18,000</td>
            <td>5 Unidades</td>
        </tr>
    </table>

</body>
</html>