<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHOPITESZ</title>
</head>
<body>
    <H1>
        Acceso a la tienda virtual
    </H1>
    <!--<p>Este es un parrofo de ejemplo</p>
    <b>Esto es un texto en negritas</b>-->
    <form action="/login" method="post">
        <label>Correo:</label>
        <input type="email" name="correo" maxlength="50" required>
        <label>Contraseña:</label>
        <input type="password" name="password" maxlength="20" required>
        <a href="/registrarCuenta">Registrarme</a>
        <input type="submit" value="Validar">
    </form>
</body>
</html>