<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHOPITESZ</title>
</head>
<body>
    <h1>Registro de cuentas</h1>
    <form>
        <label>Nombre completo:</label>
        <input type="text" name="nombre" maxlength="50"><br>
        <label>Correo:</label>
        <input type="email" maxlength="50"><br>
        <label>Dirección</label>
        <input type="text" name="direccion" maxlength="60"><br>
        <label>Contraseña:</label>
        <input type="password" name="clave" maxlength="20"><br>
        <label>Telefono:</label>
        <input type="tel" name="telefono" maxlength="12"><br>
        <label>Genero:</label>
        <input type="radio" value="F">Femenino<br>
        <input type="radio" value="M">Masculino<br>
        <input type="submit" value="Registrar"><br>
        <a href="/validarSesion">Validar Cuenta</a>
    </form>
</body>
</html>